* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Roboto';
}

a {
  text-decoration: none;
  color: #fff;
}

img {
  width: 100%;
}

.container {
  max-width: 1140px;
  margin: 0 auto;
}

header {
    background-color: #000;
    text-align: center;
}

header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 100px;
}

.logo {
  font-size: 30px;
  font-weight: 700;
  padding: 35px 0;
}

nav a {
  padding: 15px;
  font-weight: 300;
}

nav a:hover {
  color: #999999;
}

.logo a:hover {
  color:#999999;
}

.row , footer .container{
  display: flex;
  justify-content: space-between;
}

.row .col-left {
  flex: 0 1 70%;
}

.row .col-right {
  flex: 0 1 30%;
  margin-left: 90px;
}

main .row section article {
  border: 1px solid lightgray;
  margin-bottom: 35px;
}

main article .info {
    padding: 45px 35px;
}

main article .info a {
  color: #b7b7b7;
  padding: 0 12px;
  margin-left: -12px;
  font-size: 14px;
  font-weight: 400;
}

main article .info .read-more {
  color: #2b3c4a;
  text-decoration: underline;
  font-weight: 700;
  font-size: 15px;
}

main article .info .read-more:hover {
  color: darkblue;
}


aside article {
  border: 1px solid lightgray;
  padding: 48px 30px;
  margin-bottom: 36px;
}

aside article:first-child {
  padding: 0;
}

aside .search , aside .newsletter {
  display: flex;
  width: 100%;
}

aside .search input {
  padding: 12px 15px;
  outline: none;
  width: 100%;
  border: none;
}

aside .search i {
    padding: 10px;
    background: #031828;
    color: #fff;
    min-width: 50px;
    text-align: center;
    cursor: pointer;
}

aside article h3 {
  margin-top: 0;
}

aside .row {
  font-weight: 400;
  color: #999999;
  font-size: 14px;
}

aside .tags {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

aside .tags div {
  display: flex;
  margin-left: -10px;
}

aside .tags p {
 background-color: #f8f8fa;
 padding: 10px 10px;
 font-size: 14px;
 margin: 0 0 10px 10px;
}

aside .newsletter-input {
  padding: 12px 15px;
  outline: none;
  width: 100%;
  background-color: #f8f8fa;
  border: none;
}

aside .newsletter i {
    padding: 10px;
    background: #031828;
    color: #fff;
    min-width: 50px;
    text-align: center;
    cursor: pointer;
}

aside hr {
  opacity: 0.5;
  margin: 0;
}

aside .comments a {
  color: #111;
}

aside .comments p {
  font-size: 16px;
}

.pages {
  display: flex;
  justify-content: flex-end;
  margin: 65px 0 100px 0;
}

.pages a {
  background-color: #e0e3e8;
  color: #111;
  padding: 6px 10px;
  font-weight: 500;
  border-radius: 3px;
  margin: 0 5px;
  font-size: 15px;
}

.pages a:hover {
  background-color: #000;
  color: #fff;
}

footer {
  background-color: #000;
  color: #b7b7b7;
}

footer .row {
  padding: 100px 0;
}

footer .copyrights {
  background-color: #161616;
}

footer .container {
  align-items: center;
}

footer .contact-info div {
  display: flex;
}

footer .contact-info div p{
  margin: 0 15px 15px 15px;
}

footer .col-right {
  display: flex;
  flex-flow: column wrap;
}

footer .col-right a {
  color: #b7b7b7;
  margin-bottom: 25px;
  font-size: 14px;
}

footer .col-right a:hover {
  color: #f8f8fa;
}
footer .social-links a {
  margin: 0 3px;
}

footer h3 {
  color: #fff;
  font-weight: 900;
  font-size: 25px;
  margin-top: 0;
}

.footer-content {
  padding: 15px;
}
.footer-content p {
  font-size: 14px;
  line-height: 1.5;
}

.copyrights {
  padding: 5px 0;
}
.copyrights p {
  font-size: 14px;
}
.copyrights p a {
  color: #85736e;
}
.copyrights p a:hover {
  color: #fff;
}
.fa-phone {
  display: inline-block;
  transform: scaleX(-1);
}

@media (max-width: 768px) {
  .container {
    padding: 0 15px;
  }
  .row {
    flex-wrap: wrap;
    flex-direction: column;
  }
  nav {
    display: none;
  }
 .row .col-right {
    margin-left: 0;
  }
  .pages {
    justify-content: center;
  }
  aside .row {
    flex-direction: row;
  }
  .footer-content {
    padding: 0;
  }
  .copyrights p {
    font-size: 12px;
  }
  header .container {
    justify-content: center;
    margin-bottom: 50px;
  }
  .pages {
    margin-bottom: 50px;
  }
  footer .row {
    padding: 50px 0;
  }
}
